<section #aboutSection id="about">
  <div class="about-container">
    <div class="profile-image" #profileImage>
      <img src="/profile.jpg" alt="Profile Photo">
    </div>
    <div class="about-content-wrapper" #contentWrapper>
      <div class="about-title">
        <h2 data-translate="who_i_am">Who I Am</h2>
      </div>
      <div class="about-content">
        <div class="about-header">
          <h1><span #aboutHeadingElement></span></h1>
        </div>
        <div class="about-text">
          <p data-translate="about_text">Hi, I'm Steven! Programming websites doesn't feel like work—it's a part of me.
            I love bringing great
            designs and animations to life in projects that people use and that enhance their lives.</p>
        </div>
        <div class="about-points" #aboutPointsContainer>
          <div class="about-point">
            <div class="point-icon location">
              <img src="/icons/location.svg" alt="Location">
            </div>
            <div class="point-content">
              <p data-translate="location_text">I live in Bad Karlshafen, in the Kassel district. My goal is to work
                remotely so that I have the
                flexibility to work from Thailand.</p>
            </div>
          </div>
          <div class="about-point">
            <div class="point-icon skills">
              <img src="/icons/mind.svg" alt="Mind">
            </div>
            <div class="point-content">
              <p data-translate="skills_text">I am always eager to learn new things and stay up to date with the latest
                technologies—this has always
                been part of my nature. New technology excites me; it feels like being a child receiving a brand-new
                toy.</p>
            </div>
          </div>
          <div class="about-point">
            <div class="point-icon problem-solving">
              <img src="/icons/verified.svg" alt="Check">
            </div>
            <div class="point-content">
              <p data-translate="problem_solving_text">Programming brings together many aspects of my life. It combines
                the analytical thinking I developed
                from my background in chemistry, the creativity I express in music production, the persistence I built
                through bodybuilding, and the teamwork skills I gained from gaming. That's why programming doesn't
                feel like something I just do—it's truly a part of my personality.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>