<header>
  <div class="left-section">
    <div class="language-switch">
      <button [class.active]="currentLang === 'en'" (click)="toggleLanguage()">EN</button>
      <button [class.active]="currentLang === 'de'" (click)="toggleLanguage()">DE</button>
    </div>

    <nav class="main-nav">
      <ul>
        <li><a href="#about" data-translate="about_me">About me</a></li>
        <li><a href="#skills" data-translate="skills">Skills</a></li>
        <li><a href="#projects" data-translate="projects">Projects</a></li>
      </ul>
    </nav>
  </div>

  <div class="logo">
    <div class="logo-container">
      <img src="logo.png" alt="Logo" class="logo-image original">
      <img src="/logo-hohl.png" alt="Logo Hohl" class="logo-image hollow">
    </div>
  </div>
</header>