<header>
  <div class="left-section">
    <div class="language-switch">
      <button class="active">EN</button>
      <button>DE</button>
    </div>

    <nav class="main-nav">
      <ul>
        <li><a routerLink="/about">About me</a></li>
        <li><a routerLink="/skills">Skills</a></li>
        <li><a routerLink="/projects">Projects</a></li>
      </ul>
    </nav>
  </div>

  <div class="logo">
    <div class="logo-container">
      <img src="logo.png" alt="Logo" class="logo-image original">
      <img src="/logo-hohl.png" alt="Logo Hohl" class="logo-image hollow">
    </div>
  </div>
</header>