<section #skillsSection class="skills-section" id="skills">
  <div class="skills-container">
    <div #leftColumn class="left-column">
      <h2 class="section-title" data-translate="technologies">Technologies</h2>
      <div #skillsCard class="skills-card">
        <h3 class="skills-heading"><span #skillHeadingElement></span></h3>

        <p class="skills-description" data-translate="skills_description">
          I'm a front-end developer with a solid foundation in <span class="keyword">HTML</span>, <span
            class="keyword">CSS</span>, <span class="keyword">JavaScript</span>, and a strong focus on <span
            class="keyword">Angular</span>,
          <span class="keyword">TypeScript</span>, and <span class="keyword">SCSS</span>. I've worked on a range of
          projects, from smaller ones to larger, more complex
          applications.

          I'm comfortable using <span class="keyword">Git</span> for version control, collaborating in teams with
          branching, merging, and resolving
          conflicts. I've also integrated <span class="keyword">Firebase</span> in several projects for backend and
          deployment.

          I'm always excited to learn new technologies and build modern, innovative web experiences. Staying on top of
          the latest trends and creating quality solutions is what drives me. <span class="rocket">🚀</span>
        </p>

        <div class="skills-callout">
          <h4 data-translate="another_skill">You need <span class="highlight">another skill?</span></h4>
          <p data-translate="feel_free">Feel free to contact me. I look forward to expanding on my previous knowledge.
          </p>
        </div>

        <a href="#" class="talk-button" data-translate="lets_talk">Let's Talk</a>
      </div>
    </div>

    <div #skillsContent class="skills-content">
      <div #skillsGrid class="skills-grid">
        <!-- HTML -->
        <div class="skill-item">
          <div class="skill-icon">
            <img src="/logos/html-logo.webp" alt="HTML">
          </div>
          <span class="skill-name">HTML</span>
        </div>

        <!-- CSS -->
        <div class="skill-item">
          <div class="skill-icon">
            <img src="/logos/css-logo.png" alt="CSS">
          </div>
          <span class="skill-name">CSS</span>
        </div>

        <!-- JavaScript -->
        <div class="skill-item">
          <div class="skill-icon">
            <img src="/logos/javascript-logo.png" alt="JavaScript">
          </div>
          <span class="skill-name">JavaScript</span>
        </div>

        <!-- TypeScript -->
        <div class="skill-item">
          <div class="skill-icon">
            <img src="/logos/typescript-logo.png" alt="TypeScript">
          </div>
          <span class="skill-name">TypeScript</span>
        </div>

        <!-- SCSS -->
        <div class="skill-item">
          <div class="skill-icon">
            <img src="/logos/scss-logo.png" alt="SCSS">
          </div>
          <span class="skill-name">SCSS</span>
        </div>

        <!-- Angular -->
        <div class="skill-item">
          <div class="skill-icon">
            <img src="/logos/angular-logo.png" alt="Angular">
          </div>
          <span class="skill-name">Angular</span>
        </div>

        <!-- Firebase -->
        <div class="skill-item">
          <div class="skill-icon">
            <img src="/logos/firebase-logo.png" alt="Firebase">
          </div>
          <span class="skill-name">Firebase</span>
        </div>

        <!-- GIT -->
        <div class="skill-item">
          <div class="skill-icon">
            <img src="/logos/git-icon.svg.png" alt="GIT">
          </div>
          <span class="skill-name">GIT</span>
        </div>

        <!-- Growth Mindset -->
        <div class="skill-item">
          <div class="skill-icon">
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_44345_862)">
                <path
                  d="M48.507 25.5335L30.5744 35.7481C30.2517 35.9379 29.8529 35.9379 29.5207 35.7481L11.5881 25.5335C10.8857 25.1347 10.8857 24.119 11.5881 23.7108L29.5207 13.4962C29.8434 13.3063 30.2422 13.3063 30.5744 13.4962L48.507 23.7108C49.2094 24.1095 49.2094 25.1252 48.507 25.5335Z"
                  fill="#3DCFB6" />
                <path
                  d="M45.4027 28.97V37.3904C45.4027 37.7701 45.2033 38.1119 44.8711 38.3017L30.5744 46.4468C30.2516 46.6367 29.8529 46.6367 29.5207 46.4468L15.224 38.3017C14.8917 38.1119 14.6924 37.7701 14.6924 37.3904V28.97L22.6191 33.4792L29.5207 37.4189C29.8434 37.6087 30.2421 37.6087 30.5744 37.4189L37.4759 33.4792L45.4027 28.97Z"
                  fill="#3DCFB6" />
                <path
                  d="M53.7566 15.072L54.2502 14.7302C54.8483 14.3125 54.7723 13.4107 54.1173 13.0974L50.1871 11.2273C49.5226 10.914 48.7727 11.4361 48.8296 12.1671L49.2094 16.5055C49.2758 17.2269 50.1017 17.6161 50.6998 17.1985L51.4023 16.7143C57.6488 26.777 55.9685 40.1813 47.2348 48.3454C38.6435 56.3766 25.4006 57.3544 15.7461 50.6712C15.1005 50.2251 14.2082 50.3864 13.762 51.032C13.3158 51.6775 13.4772 52.5699 14.1227 53.016C18.8978 56.3197 24.4513 57.943 29.9953 57.943C36.9347 57.943 43.8552 55.3988 49.1809 50.4244C58.9303 41.3015 60.81 26.2929 53.7566 15.072Z"
                  fill="#3DCFB6" />
                <path
                  d="M45.9723 6.92698C35.2261 -0.51564 20.4833 0.576071 10.9142 9.5186C0.917909 18.8693 -0.876294 33.8115 6.57582 45.2223L5.88282 45.6969C5.28475 46.1146 5.36069 47.0165 6.01572 47.3298L9.94588 49.1999C10.6104 49.5132 11.3604 48.9911 11.3034 48.2601L10.9237 43.9217C10.8572 43.2002 10.0313 42.811 9.43325 43.2287L8.92062 43.5895C2.29441 33.3464 3.89875 19.9705 12.8603 11.5976C21.4516 3.56641 34.6945 2.57912 44.349 9.27178C44.9945 9.71796 45.8869 9.55658 46.3331 8.91104C46.7792 8.26551 46.6179 7.37315 45.9723 6.92698Z"
                  fill="#3DCFB6" />
              </g>
              <defs>
                <clipPath id="clip0_44345_862">
                  <rect width="56" height="55.943" fill="white" transform="translate(2 2)" />
                </clipPath>
              </defs>
            </svg>

          </div>
          <span class="skill-name" data-translate="growth_mindset">Growth<br>Mindset</span>
          <div class="tooltip-overlay">
            <div class="tooltip-title" data-translate="learning_interest">I have a special interest in learning</div>
            <div class="tooltip-content">
              <div class="tooltip-tech">
                <img src="/logos/react-logo.png" alt="React">
                <span>React</span>
              </div>
              <div class="tooltip-tech">
                <img src="/logos/vue-logo.png" alt="Vue">
                <span>Vue</span>
              </div>
              <div class="tooltip-tech">
                <img src="/logos/tailwind-logo.png" alt="Tailwind">
                <span>Tailwind CSS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>